# Vhosts mapping
#
# default_host is used if no matching host is found
#
# Format:
# host_name = /absolute_path
# or
# host_name = relative_path to server root

default_host = /space/doc/jdk/Tutorial/current
localhost = /space/doc/jdk/Tutorial/current

# Points to 'www' directory in server root path
test.localhost = www